@model IEnumerable<ApiBD.Models.TbConfEntidad>

@{
    ViewData["Title"] = "Configuracion de correo";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

<div class="content-wrapper">
    <div class="row">
        <div class="col-lg-12 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <div class="d-flex justify-content-between">
                        <h4 class="card-title">@ViewData["Title"]</h4>
                    </div>

                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>
                                        Servidor
                                    </th>
                                    <th>
                                        Puerto
                                    </th>
                                    <th>
                                        Correo Notifica
                                    </th>
                                    <th>
                                        Correo con Copia
                                    </th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Servidor)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Puerto)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.CorreoNotifica)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.CorreoConCopia)
                                        </td>
                                        @if(item.Id != 0){
                                            <td>
                                                <a href="@Url.Action("Correo", "EntidadCms", new { id = item.Id })" class="btn btn-warning"><i class="ti-pencil"></i></a>
                                            </td>
                                        }
                                       
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>





