@model IEnumerable<ApiBD.Models.TbConfEntidad>

@{
    ViewData["Title"] = "Listado de entidad";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

<div class="content-wrapper">
    <div class="row">
        <div class="col-lg-12 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <div class="d-flex justify-content-between">
                        <h4 class="card-title">@ViewData["Title"]</h4>
                        <!-- <a class="btn btn-primary disabled" href="/EntidadCms/Create">-->
                        <a class="btn btn-primary" href="/EntidadCms/Create">
                            <i class="ti-plus"></i>  Nuevo
                        </a>
                    </div>

                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>
                                        Nombre
                                    </th>
                                    <th>
                                        Nombre Comercial
                                    </th>
                                    <th>
                                        RUC
                                    </th>
                                    <th>
                                        Dirección
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Celular)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Correo)
                                    </th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Name)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.NameComercial)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Ruc)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Direccion)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Celular)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Correo)
                                        </td>
                                        @if(item.Id != 0){
                                            <td>
                                                <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-warning"><i class="ti-pencil"></i> </a> |
                                                <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-info"><i class="ti-eye"></i> </a> |
                                                <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger"><i class="ti-trash"></i> </a>
                                            </td>
                                        }
                                       
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>





