@model ApiBD.Models.TbConfModalcab

@{
    ViewData["Title"] = "Detalle modale cabecera";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

<div class="content-wrapper">
    <div class="row">
        <div class="col-lg-12 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <div class="d-flex justify-content-between">
                        <h4 class="card-title">@ViewData["Title"]</h4>
                    </div>

                    <dl class="row">
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.IdDetallePie)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.IdDetallePie)
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.Titulo)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.Titulo)
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.BtnRuta)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.BtnRuta)
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.Estado)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.Estado)
                        </dd>
                        <div>
                            <a class="btn btn-primary" asp-action="Edit" asp-route-id="@Model?.IdDetallePie"><i class="ti-save"></i> Editar</a> |
                            <a class="btn btn-danger" asp-action="Index"><i class="ti-back-left"></i> Regresar</a>
                        </div>
                    </dl>
                </div>
            </div>
        </div>
    </div>
</div>