@model ApiBD.Models.TbConfPaginascab

@{
    ViewData["Title"] = "Eliminar pagina";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

<div class="content-wrapper">
    <div class="row">
        <div class="col-lg-12 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <div class="d-flex justify-content-between">
                        <h4 class="card-title">@ViewData["Title"]</h4>
                        <h3>¿Estas seguro de eliminar?</h3>
                    </div>

                    <dl class="row">
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.Titulo)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.Titulo)
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.Subtitulo)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.Subtitulo)
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.ReseniaTitulo)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.ReseniaTitulo)
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.ReseniaDetalle)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.ReseniaDetalle)
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.MisionTitulo)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.MisionTitulo)
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.MisionDetalle)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.MisionDetalle)
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.VisionTitulo)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.VisionTitulo)
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.VisionDetalle)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.VisionDetalle)
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.ValoresTitulo)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.ValoresTitulo)
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.ValoresDetalle)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.ValoresDetalle)
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.ReconocTitulo)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.ReconocTitulo)
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.ReconocDetalle)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.ReconocDetalle)
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.ImagenMision)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.ImagenMision)
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.ImagenValores)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.ImagenValores)
                        </dd>
                    </dl>
                    <form asp-action="Delete">
                        <input type="hidden" asp-for="Id" />
                        <button type="submit" class="btn btn-primary"><i class="ti-save"></i> Grabar</button>  |
                        <a class="btn btn-danger" asp-action="Index"><i class="ti-back-left"></i> Regresar</a>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>