@model IEnumerable<ApiBD.Models.TbTraPuesto>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}
<style>
    td.text-truncate {
        max-width: 150px;
    }
</style>

<div class="content-wrapper">
    <div class="row">
        <div class="col-lg-12 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <div class="d-flex justify-content-between">
                        <h4 class="card-title">@ViewData["Title"]</h4>
                        <a asp-action="Create" class="btn btn-primary"><i class="ti-plus"></i>  Nuevo</a>
                    </div>
                    <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>
                                    @Html.DisplayNameFor(model => model.Titulo)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Subtitulo)
                                </th>
@*                                <th>
                                    @Html.DisplayNameFor(model => model.Requisitos)
                                </th>*@
                                <th>
                                    @Html.DisplayNameFor(model => model.Ruta)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Ocupado)
                                </th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model) {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Titulo)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Subtitulo)
                                </td>
@*                                <td class="text-truncate">
                                    @Html.Raw(item.Requisitos)
                                </td>*@
                                <td>
                                    @Html.DisplayFor(modelItem => item.Ruta)
                                </td>
                                <td>
                                    @Html.Raw(item.Ocupado == 0 ? "Sin Ocupar" : "Ocupado")
                                </td>
                                    <td>
                                        <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-warning"><i class="ti-pencil"></i> </a> |
                                        <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-info"><i class="ti-eye"></i> </a> |
                                        <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger"><i class="ti-trash"></i> </a>
                                    </td>
                            </tr>
                    }
                        </tbody>
                    </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>