@model IEnumerable<ApiBD.Models.TbIndSlidecab>

@{
    ViewData["Title"] = "Listado de Slides";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

<div class="content-wrapper">
    <div class="row">
        <div class="col-lg-12 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <div class="d-flex justify-content-between">
                        <h4 class="card-title">@ViewData["Title"]</h4>
                        <a class="btn btn-primary " href="/SlideCms/Create">
                            <i class="ti-plus"></i>  Nuevo
                        </a>
                    </div>

                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Titulo)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Imagen)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.IdBtn1)
                                    </th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Titulo)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Imagen)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.IdBtn1)
                                        </td>
                                        @if(item.Id != 0){
                                            <td>
                                                <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-warning"><i class="ti-pencil"></i> </a> |
                                                <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-info"><i class="ti-eye"></i> </a> |
                                                <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger"><i class="ti-trash"></i> </a> |
                                                <a href="@Url.Action("Index", "BotonCms", new { codigo = item.Id })" class="btn btn-primary"><i class="ti-more"></i></a>
                                            </td>
                                        }
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>