@model IEnumerable<ApiBD.Models.TbFormCotizano>

@{
    ViewData["Title"] = "Cotizaciones Registradas";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

<div class="content-wrapper">
    <div class="row">
        <div class="col-lg-12 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <div class="d-flex justify-content-between">
                        <input type="hidden" id="txtTipoCotizacion" value="@ViewBag.TipoServicio" />
                        <h4 class="card-title">Cotizaciones @{
                                
                                if (ViewBag.TipoServicio == 1)
                                {
                                    <span>Administración de Estacionamiento</span>
                                }
                                else if (ViewBag.TipoServicio == 2)
                                {
                                    <span>Gestión de Abonados</span>
                                }
                                else if (ViewBag.TipoServicio == 3)
                                {
                                    <span>Valet Parking</span>
                                }
                                else if (ViewBag.TipoServicio == 4)
                                {
                                    <span>Eventos</span>
                                }
                                else if (ViewBag.TipoServicio == 5)
                                {
                                    <span>Prevención</span>
                                }
                                else if (ViewBag.TipoServicio == 6)
                                {
                                    <span>Rentabilización de Terrenos</span>
                                }
                        }
                        </h4>
                    </div>


                    <div class="table-responsive">
                        <table class="table" id="tblCotizacion">
                            <thead>
                                <tr>    
                                    <th>
                                        @Html.DisplayNameFor(model => model.Id)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Distrito)
                                    </th>
                                    @{
                                        if (ViewBag.TipoServicio == 2)
                                        {
                                            <th>
                                                @Html.DisplayNameFor(model => model.TipoAbonado)
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(model => model.Estacionamiento)
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(model => model.Cantidad)
                                            </th>
                                        } else                                        
                                        {
                                            <th>
                                                @Html.DisplayNameFor(model => model.Direccion)
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(model => model.Ruc)
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(model => model.RazonSocial)
                                            </th>
                                        }
                                    }
                                    <th>
                                        @Html.DisplayNameFor(model => model.Contacto)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Celular)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Telefono)
                                    </th>
                                    @{
                                        if (ViewBag.TipoServicio == 4)
                                        {
                                            <th>
                                                @Html.DisplayNameFor(model => model.FechaEvento)
                                            </th>
                                        }
                                    }
                                       
                                    <th>
                                        @Html.DisplayNameFor(model => model.CorreoElectronico)
                                    </th>
                                    @{
                                        if (ViewBag.TipoServicio == 4)
                                        {

                                            <th>
                                                @Html.DisplayNameFor(model => model.Comentario)
                                            </th>
                                        }
                                    }
                                  
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Id)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Distrito)
                                        </td>
                                        @{
                                            if (ViewBag.TipoServicio == 2)
                                            {
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.TipoAbonado)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.Estacionamiento)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.Cantidad)
                                                </td>
                                            }
                                            else
                                            {
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.Direccion)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.Ruc)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.RazonSocial)
                                                </td>
                                            }
                                        }
                                        @if (item.Contacto!=null)
                                        {
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Contacto)
                                            </td>
                                        }else{
                                            <td>
                                                @Html.DisplayFor(modelItem => item.RazonSocial)
                                            </td>
                                        }
                                        
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Celular)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Telefono)
                                        </td>
                                        @{
                                            if (ViewBag.TipoServicio == 4)
                                            {
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.FechaEvento)
                                                </td>
                                            }
                                        }
                                        <td>
                                            @Html.DisplayFor(modelItem => item.CorreoElectronico)
                                        </td>
                                        @{
                                            if (ViewBag.TipoServicio == 4)
                                            {
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.Comentario)
                                                </td>
                                            }
                                        }
                                            </tr>
                                }
                            </tbody>
                        </table>
                        <!--<a asp-controller="CotizanosCms" asp-action="Index" class="btn btn-danger"><i class="ti-back-left"></i> Regresar</a>-->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



@section Scripts {
    <script>
        $(document).ready(function () {
            var tipoCotiza=$('#txtTipoCotizacion').val();
            var strcotiza="";
            switch (tipoCotiza) {
                case "1":
                    strcotiza = "Administración de Estacionamiento";
                    break;

                case "2":
                    strcotiza = "Gestión de Abonados";
                    break;

                case "3":
                    strcotiza = "Valet Parking";
                    break;
                case "4":
                    strcotiza = "Eventos";
                    break;
                case "5":
                    strcotiza = "Prevención";
                    break;
                case "6":
                    strcotiza = "Rentabilización de Terrenos";
                    break;
                default:
                    strcotiza = "Reporte de cotizacion";
                    break;

            }

            $('#tblCotizacion').DataTable({
                dom: 'Bfrtip',
                buttons: [{
                    extend: 'excel',
                    text: 'Exportar a Excel', // Cambia el texto del botón si es necesario
                    className: 'btn btn-primary',
                    filename: 'Cotizacion ' + strcotiza
                }],
                order: [[0, 'desc']],
                columnDefs: [
                    { targets: [0], visible: false } // Ocultar la primera columna (columna 0)
                ]
            });
            $('#tblCotizacion_wrapper .dt-buttons .btn').addClass('mr-2');
        });
    </script>
}