@model IEnumerable<ApiBD.Models.TbFormParkingcard>;

@{
    ViewData["Title"] = "Listado de Parking Card Vip";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

<div class="content-wrapper">
    <div class="row">
        <div class="col-lg-12 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <div class="d-flex justify-content-between">
                        <h4 class="card-title">@ViewData["Title"]</h4>
                        <a class="btn btn-primary " href="/ParkingCardVipCms/Create">
                            <i class="ti-plus"></i>  Nuevo
                        </a>
                    </div>

                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Dni)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Correo)
                                    </th>

                                    <th>
                                        @Html.DisplayNameFor(model => model.CodSeguridad)
                                    </th>

                                    <th>
                                        @Html.DisplayNameFor(model => model.FecRegistro)
                                    </th>

                                    <th>
                                        @Html.DisplayNameFor(model => model.Notificado)
                                    </th>
                                   

                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Dni)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Correo)
                                        </td>

                                        <td>
                                            @Html.DisplayFor(modelItem => item.CodSeguridad)
                                        </td>

                                        <td>
                                            @Html.DisplayFor(modelItem => item.FecRegistro)
                                        </td>

                                        <td>
                                            @Html.DisplayFor(modelItem => item.Notificado)
                                        </td>
                                       
                                        
                                       
                                        @if(item.Id != 0){
                                            <td>
                                                <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-warning"><i class="ti-pencil"></i> </a> |
                                                <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger"><i class="ti-trash"></i> </a>
                                            </td>
                                        }
                                     
                                    </tr>
                                }
                            </tbody>
                        </table>
                        <a asp-controller="ProveedoresCms" asp-action="Index" class="btn btn-danger"><i class="ti-back-left"></i> Regresar</a>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>