@model IEnumerable<ApiBD.Models.TbConfPiepaginacab>

@{
    ViewData["Title"] = "Listado de pie de pagina";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

<div class="content-wrapper">
    <div class="row">
        <div class="col-lg-12 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <div class="d-flex justify-content-between">
                        <h4 class="card-title">@ViewData["Title"]</h4>
                        <a class="btn btn-primary " href="/PiePaginaCms/Create">
                            <i class="ti-plus"></i>  Nuevo
                        </a>
                    </div>
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>
                                        Título
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Imagen)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Orden)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Estado)
                                    </th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Titulo)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Imagen)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Orden)
                                        </td>
                                        <td>
                                            @*@Html.DisplayFor(modelItem => item.Estado)*@
                                            @if (item.Estado == 0)
                                            {
                                                <span class="badge rounded-pill bg-danger text-white">INACTIVO</span>
                                            }
                                            else if (item.Estado == 1)
                                            {
                                                <span class="badge rounded-pill bg-success text-white">ACTIVO</span>
                                            }
                                        </td>
                                        @if(item.Id != 0){
                                            <td>
                                                <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-warning"><i class="ti-pencil"></i> </a> |
                                                <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-info"><i class="ti-eye"></i> </a> |
                                                <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger"><i class="ti-trash"></i> </a>
                                                <a href="@Url.Action("Index", "PiePaginaDetCms", new { codigo = item.Id })" class="btn btn-primary"><i class="ti-more"></i></a>
                                                @*<a asp-controller="PiePaginaDet" asp-action="Index" asp-route-id="@item.Id" class="btn btn-primary"><i class="ti-more"></i></a>*@

                                            </td>
                                        }
                                      
                                    </tr>
                                }
                            </tbody>
                        </table>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@*<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
*@
