@using CentralParkingSystem.Services;
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>CentralParkingSystem</title>

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700&display=swap" rel="stylesheet">
    <!-- Icon Font Stylesheet-->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">
    <!-- Libraries Stylesheet -->
    <link href="~/lib/animate/animate.min.css" rel="stylesheet" />
    <link href="~/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet" />

    <!-- Customized Bootstrap Stylesheet -->
    <link href="~/css/bootstrap.min.css" rel="stylesheet" />

    <!-- Template Stylesheet -->
    <link href="~/css/style.css" rel="stylesheet" />
    <link rel="shortcut icon" href="~/images/icono.ico" />
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-7VLQLV4ZGL"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-7VLQLV4ZGL');
    </script>
</head>
<body>
    <!-- Spinner Start -->
    <div id="spinner" class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
        <div class="spinner-grow text-primary" role="status"></div>
    </div>
    <!-- Spinner End -->
    

    <!-- Navbar Start -->
    <partial name="_MenuPartial"></partial>
    <!-- Navbar End -->


    <div>
            @RenderBody()
    </div>
    @{
        CentralParkingSystem.ViewModel.ModalCombinadoCabDet combinado1 = new CentralParkingSystem.ViewModel.ModalCombinadoCabDet();
        var servicioc1 = new ModaleCabeceraService(new HttpClient());
        var objeto1 = await servicioc1.obtenerModalCabeceraDetalle(2);
        var serviciod1 = new ModaleDetalleService(new HttpClient());
        var listaColaboradores = await serviciod1.listarModalDetalle(6);
        combinado1.modalCab = objeto1;
        combinado1.listModalDet = listaColaboradores;
    }
    @Html.Partial("ModalColaboradores",combinado1)


    @{
        CentralParkingSystem.ViewModel.ModalCombinadoCabDet combinado2 = new CentralParkingSystem.ViewModel.ModalCombinadoCabDet();
        var servicioc2 = new ModaleCabeceraService(new HttpClient());
        var objeto2 = await servicioc2.obtenerModalCabeceraDetalle(5);
        var serviciod2 = new ModaleDetalleService(new HttpClient());
        var listaComprobantes = await serviciod2.listarModalDetalle(9);
        combinado2.modalCab = objeto2;
        combinado2.listModalDet = listaComprobantes;
    }
    @Html.Partial("ModalComprobantes",combinado2)


    @{
        CentralParkingSystem.ViewModel.ModalCombinadoCabDet combinado3 = new CentralParkingSystem.ViewModel.ModalCombinadoCabDet();
        var servicioc3 = new ModaleCabeceraService(new HttpClient());
        var objeto3 = await servicioc3.obtenerModalCabeceraDetalle(7);
        var serviciod3 = new ModaleDetalleService(new HttpClient());
        var listaCondicionesUso = await serviciod3.listarModalDetalle(12);
        combinado3.modalCab = objeto3;
        combinado3.listModalDet = listaCondicionesUso;
    }
    @Html.Partial("ModalCondUso",combinado3)



    @{
        CentralParkingSystem.ViewModel.ModalCombinadoCabDet combinado4 = new CentralParkingSystem.ViewModel.ModalCombinadoCabDet();
        var servicioc4 = new ModaleCabeceraService(new HttpClient());
        var objeto4 = await servicioc4.obtenerModalCabeceraDetalle(8);
        var serviciod4 = new ModaleDetalleService(new HttpClient());
        var listaCookies = await serviciod4.listarModalDetalle(13);
        combinado4.modalCab = objeto4;
        combinado4.listModalDet = listaCookies;
    }
    @Html.Partial("ModalPolCookies",combinado4)



    @{
        CentralParkingSystem.ViewModel.ModalCombinadoCabDet combinado5 = new CentralParkingSystem.ViewModel.ModalCombinadoCabDet();
        var servicioc5 = new ModaleCabeceraService(new HttpClient());
        var objeto5 = await servicioc5.obtenerModalCabeceraDetalle(9);
        var serviciod5 = new ModaleDetalleService(new HttpClient());
        var listaPoliticas = await serviciod5.listarModalDetalle(14);
        combinado5.modalCab = objeto5;
        combinado5.listModalDet = listaPoliticas;
    }
    @Html.Partial("ModalPolPriv",combinado5)


    @{
        CentralParkingSystem.ViewModel.ModalCombinadoCabDet combinado6 = new CentralParkingSystem.ViewModel.ModalCombinadoCabDet();
        var servicioc6 = new ModaleCabeceraService(new HttpClient());
        var objeto6 = await servicioc6.obtenerModalCabeceraDetalle(10);
        var serviciod6 = new ModaleDetalleService(new HttpClient());
        var listaInfoLegal = await serviciod6.listarModalDetalle(15);
        combinado6.modalCab = objeto6;
        combinado6.listModalDet = listaInfoLegal;
    }
    @Html.Partial("ModalInfoLegal",combinado6)

    @Html.Partial("ModalCardVip",new ApiBD.Models.TbFormParkingcard())

    <!-- Footer -->
    <partial name="_PiePartial"></partial>
<!-- Footer End -->

<!-- Copyright Start -->
<div class="container-fluid copyright text-light py-4 wow fadeIn" data-wow-delay="0.1s">
    <div class="container">
        <div class="row">
            <div class="col-md-6 text-center text-md-start mb-3 mb-md-0">
                &copy; <a href="#">Central Parking System</a>, Todos los derechos reservados.
            </div>
            <div class="col-md-6 text-center text-md-end">
                Diseñado por <a href="#"></a>
            </div>
        </div>
    </div>
</div>
<!-- Copyright End -->


    <!-- Back to Top -->
    <a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="bi bi-arrow-up"></i></a>


    <script src="~/js/jquery-3.4.1.min.js"></script>
    <script src="~/js/bootstrap.min.js"></script>
    <script src="~/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/wow/wow.min.js"></script>
    <script src="~/lib/easing/easing.min.js"></script>
    <script src="~/lib/waypoints/waypoints.min.js"></script>
    <script src="~/lib/owlcarousel/owl.carousel.min.js"></script>
    <script src="~/js/main.js"></script>
    
</body>
</html>
