@model ApiBD.Models.TbConfPermiso

@{
    ViewData["Title"] = "Editar Permiso";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

<div class="content-wrapper">
    <div class="row">
        <div class="col-lg-12 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <div class="d-flex justify-content-between">
                        <h4 class="card-title">@ViewData["Title"]</h4>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <form asp-action="Edit">
                                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                <input type="hidden" asp-for="Id" />
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label asp-for="Rol" class="control-label"></label>
                                            <select asp-for="RolId" class="form-control" asp-items="ViewBag.RolId" readonly></select>
                                            <span asp-validation-for="RolId" class="text-danger"></span>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>

                    <div class="row">
                        <form asp-action="Createpermisos">
                            <ul>
                                @foreach (var menu in ViewBag.MenuList)
                                {
                                    @if (@menu.Padre == 0)
                                    {
                                        <li>
                                            <div>
                                                <input type="checkbox" id="menu-@menu.Id" data-menu-id="@menu.Id" data-menu-sel="@menu.Acceso" class="menu-checkbox" @(menu.Acceso == 1 ? "checked" : "") />
                                                <label for="menu-@menu.Id">@menu.Nombre</label>
                                            </div>
                                            <ul>

                                                @foreach (var submenu in ViewBag.SubMenuList)
                                                {
                                                    @if (@menu.Id == @submenu.Padre)
                                                    {
                                                        <li>
                                                            <div class="submenu">
                                                                <input type="checkbox" data-submenu-id="@submenu.Id" id="submenu-@submenu.Id" data-menu-id="@menu.Id" data-menu-sel="@submenu.Acceso" class="submenu-checkbox" @(submenu.Acceso == 1 ? "checked" : "") />
                                                                <label for="submenu-@submenu.Id">@submenu.Nombre</label>
                                                            </div>
                                                        </li>
                                                    }

                                                }
                                            </ul>
                                        </li>
                                    }


                                }
                            </ul>
                            <span asp-validation-for="Estado" class="text-danger"></span>
                            <div class="form-group">
                                <button type="button" class="btn btn-primary" id="actualizar-btn"><i class="ti-save"></i> Grabar</button> |
                                <a class="btn btn-danger " id="btnRegresarPermiso"><i class="ti-back-left"></i> Regresar</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script>
    $(document).ready(function () {
        var token = $('[name=__RequestVerificationToken]').val();
        $('.menu-checkbox').change(function () {
            var menuId = $(this).data('menu-id');
            var isChecked = $(this).prop('checked');
            $(`.submenu-checkbox[data-menu-id=${menuId}]`).prop('checked', isChecked);
        });

        $('#actualizar-btn').click(function () {
            // Aquí puedes enviar los datos al servidor para guardar las selecciones del usuario
            var rol_id = $("#RolId").val();

            var selectedPermissions = [];

            $('.menu-checkbox:checked').each(function () {
                var menuId = $(this).data('menu-id');
                selectedPermissions.push({ MenuId: menuId, RolId: 1 });
            });

            $('.submenu-checkbox:checked').each(function () {
                var submenuId = $(this).data('submenu-id');
                selectedPermissions.push({ MenuId: submenuId, RolId: 1 });
            });
            console.log('actualizar-btn', selectedPermissions); //return;
            $.ajax({
                type: 'POST',
                url: '/PermisoCms/Createpermisos', // Reemplaza '/Controlador' con la ruta correcta a tu controlador
                data: JSON.stringify(selectedPermissions),
                contentType: 'application/json',
                headers: {
                    'RequestVerificationToken': token
                },
                success: function (response) {
                    // Maneja la respuesta del servidor si es necesario
                    console.log('Datos guardados correctamente.', response.respuesta);
                    var url = '@Url.Action("Index", "PermisoCms")' + '?tipoRol=' + rol_id;

                    // Redirige a la URL
                    window.location.href = url;
                },
                error: function (error) {
                    // Maneja cualquier error de la solicitud AJAX
                    console.error('Error al enviar los datos al servidor.', response);
                }
            });
        });

        $("#btnRegresarPermiso").attr("href", "/PermisoCms/Index?tipoRol=" + $("#RolId").val());
        document.getElementById("RolId").disabled = true;
    });

</script>