@model IEnumerable<ApiBD.Models.TbConfPermiso>

@{
    ViewData["Title"] = "Listado de Permisos";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}


<div class="content-wrapper">
    <div class="row">
        <div class="col-lg-12 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <div class="d-flex justify-content-between">
                        <h4 class="card-title">@ViewData["Title"]</h4>

                        <div>
                            <div class="input-group">
                                <div id="radioBtn" class="btn-group">
                                     @foreach (var roles in ViewBag.rolLista)
                                    {
                                        <a class="btn btn-primary btn-sm @((roles.Id == 1) ? "active" : "notActive")"
                                           data-toggle="tiporol"
                                           data-title="@roles.Id"
                                           data-id="@roles.Id"
                                           id="enlace_@roles.Id">@roles.Rol</a>
                                    }
                                </div>
                                <input type="hidden" name="tiporol" id="tiporol">
                            </div>
                        </div>

                        <a class="btn btn-primary " href="/PermisoCms/Create">
                            <i class="ti-plus"></i>  Nuevo
                        </a>
                    </div>

                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Rol)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Menu)
                                    </th>
                                   
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        @*<td>
                                            @Html.DisplayFor(modelItem => item.Permiso)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Descripcion)
                                        </td>
                                        <td>
                                            @if (item.Estado == 1)
                                            {
                                                <span class="badge rounded-pill bg-success text-white">ACTIVO</span>
                                            }
                                            else if (item.Estado == 0)
                                            {
                                                <span class="badge rounded-pill bg-danger text-white">INACTIVO</span>
                                            }
                                        </td>*@
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Rol.Rol)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Menu.Nombre)
                                        </td>
                                        
                                        @if(item.Id != 0){
                                            <td>
                                                <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-warning"><i class="ti-pencil"></i> </a> |
                                                <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger"><i class="ti-trash"></i> </a>
                                            </td>
                                        }
                                      
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>


<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script>
    

    $(document).ready(function () {
        var url = new URL(window.location.href);
        var tipoRol = url.searchParams.get("tipoRol");
        if (tipoRol) {
            // El parámetro "tipoProyecto" está presente en la URL
            console.log("Valor de tipoProyecto:", tipoRol);
            var sel = tipoRol;
            var tog = "tiporol";
            //idTipoRolSel = $(this).data('id');
            console.log('rOOOOOOOOOOOOOOOL=>', sel, tog);
            $('#' + tog).prop('value', sel);

            $('a[data-toggle="' + tog + '"]').not('[data-title="' + sel + '"]').removeClass('active').addClass('notActive');
            $('a[data-toggle="' + tog + '"][data-title="' + sel + '"]').removeClass('notActive').addClass('active');
        } else {
            // El parámetro "tipoProyecto" no está presente en la URL
            console.log("El parámetro tipoProyecto no está presente en la URL.");
        }

        let idTipoRolSel = 1;

        // Manejar el clic en los enlaces
        $('#radioBtn a').click(function (e) {
            e.preventDefault(); // Prevenir el comportamiento predeterminado del enlace
            var sel = $(this).data('title');
            var tog = $(this).data('toggle');
            //idTipoRolSel = $(this).data('id');
            
            $('#' + tog).prop('value', sel);

            $('a[data-toggle="' + tog + '"]').not('[data-title="' + sel + '"]').removeClass('active').addClass('notActive');
            $('a[data-toggle="' + tog + '"][data-title="' + sel + '"]').removeClass('notActive').addClass('active');
            // Obtener el valor de data-id
            var idTipoRolSel = $(this).data('id');

            // Construir la URL del controlador con el valor de idTipoRolSel
            var url = '@Url.Action("Index", "PermisoCms")' + '?tipoRol=' + idTipoRolSel;
            console.log('Ahiqw=>', sel, tog, idTipoRolSel, url);
            // Redirigir a la URL
            window.location.href = url;
        });
    });
</script>