@model ApiBD.Models.TbConfPiepaginadet

@{
    ViewData["Title"] = "Detalles Pie pagina";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#">Configuraciones</a></li>
        <li class="breadcrumb-item"><a href="/PiePagina">Pie Pagina</a></li>
        <li class="breadcrumb-item"><a href="@Url.Action("Index", "PiePaginaDet", new { codigo = ViewBag.vPiepaginaId }) ">Detalle</a></li>
        <li class="breadcrumb-item active" aria-current="page">@ViewData["Title"]</li>
    </ol>
</nav>
<div class="content-wrapper">
    <div class="row">
        <div class="col-lg-12 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <div class="d-flex justify-content-between">
                        <h4 class="card-title">@ViewData["Title"]</h4>
                    </div>

                    <dl class="row">
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.PiepaginaId)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.PiepaginaId)
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.Icono)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.Icono)
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.Titulo)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.Titulo)
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.Ruta)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.Ruta)
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.Imagen)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.Imagen)
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.TipoRuta)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.TipoRuta)
                        </dd>
                    </dl>
                    <div>
                        <a class="btn btn-primary" asp-action="Edit" asp-route-id="@Model?.Id" asp-route-codigo="@ViewBag.vPiepaginaId"><i class="ti-save"></i> Editar</a> |
                        <a class="btn btn-danger" asp-action="Index" asp-route-codigo="@ViewBag.vPiepaginaId"><i class="ti-back-left"></i> Regresar</a>
                    </div>
                    @*<div class="table-responsive">
                        <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
                        <a asp-action="Index">Back to List</a>
                        <a class="btn btn-danger" asp-action="Index"><i class="ti-back-left"></i> Regresar</a>
                    </div>*@
                </div>
            </div>
        </div>
    </div>
</div>

@*<h1>Details</h1>

<div>
    <h4>TbConfPiepaginadet</h4>
    <hr />
    
</div>
<div>
    
</div>
*@