@{
    @model ApiBD.Models.Home.IndexVM;
    ViewData["Title"] = "Cotización de Abonados";
    var primerRegistroEntidad = ViewBag.primerRegistroEntidad;
}
<!-- Page Header Start -->
<div class="container-fluid page-header py-6 wow fadeIn" data-wow-delay="0.1s">
    <div class="container text-center">
        <h1 class="display-4 text-white animated slideInDown mb-4">Cotización de Abonados</h1>
        <nav aria-label="breadcrumb animated slideInDown">
            <ol class="breadcrumb justify-content-center mb-0">
                <li class="breadcrumb-item"><a class="text-white" href="~/">Inicio</a></li>
                <li class="breadcrumb-item text-primary active" aria-current="page">Cotización de Abonados</li>
            </ol>
        </nav>
    </div>
</div>
<!-- Page Header End -->
<!-- Cuerpo page Start -->
<div class="container-xxl py-4">
    <div class="container">
        <div class="row mb-2">
            <div class="col">
                <div class="section_title text-center">
                    <h2>Bienvenido!</h2>
                    <p>Al sistema de Cotización de Central Parking System. Registra los siguientes datos.</p>
                </div>
            </div>
        </div>
        <div class="row g-5">
            <div class="col-lg-6 wow fadeInUp bg-light p-5" data-wow-delay="0.1s" style="min-height: 450px;">
                <div class="position-relative h-100">
                    <h1 class="display-6 mb-4">Solicita tu <span class="text-primary">servicio</span></h1>
                    <p class="mb-4">Deja tus datos y muy pronto nos comunicaremos contigo.</p>
                    <p>¡Muchas gracias por tu preferencia!</p>
                    <h5 class=" mb-4 mt-4">LLAMANOS AL NUMERO</h5>
                    <p class="mb-2"><i class="fa fa-phone me-3 "></i>@primerRegistroEntidad.Telefono</p>
                    <p class="mb-2">Horario de atención: @primerRegistroEntidad.Horario</p>
                    <h5 class=" mb-4 mt-4">SEDE CENTRAL</h5>
                    <p class="mb-2">
                        <i class="fa fa-map-marker-alt me-3"></i>@primerRegistroEntidad.Direccion
                    </p>
                </div>
            </div>
            <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.5s">
                <form asp-action="CotizanosAbonados" method="post">
                    <div class="col-12">
                        <div class="form-floating">
                            <select required class="form-control border-0 bg-light mb-4" id="tipoServicio" placeholder="Tipo Servicio" asp-for="TbFormCotizanos.TipoServicio">
                                <option value="2">ABONADOS</option>
                            </select>
                            <label for="tipoServicio">Tipo de Servicio</label>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="form-floating">
                            <select id="tipoAbonado" asp-for="TbFormCotizanos.TipoAbonado" class="form-control border-0 bg-light mb-4" required placeholder="Tipo de Abonado">
                                <option value="Personas">Personas</option>
                                <option value="Empresas">Empresas</option>
                            </select>
                            <label for="tipoAbonado">Tipo de Abonado</label>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="form-floating">
                            <select required name="Distrito" id="distrito" class="form-control border-0 bg-light mb-4" placeholder="Distrito" asp-for="TbFormCotizanos.Distrito">
                                <option value="">Seleccione un distrito</option>
                                @foreach (var item in (SelectList)ViewData["Distritos"])
                                {
                                    <option value="@item.Text" data-id="@item.Value">@item.Text</option>
                                }
                            </select>
                            <label for="distrito">Distrito</label>
                        </div>
                    </div>
                    <div class="row g-3">
                        <div class="col-md-8">
                            <div class="form-floating">
                                <select id="estacionamiento" asp-for="TbFormCotizanos.Estacionamiento" class="form-control border-0 bg-light " required placeholder="Seleccione Estacionamiento">

                                </select>
                                <label for="estacionamiento">Estacionamientos</label>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-floating">
                                <input type="number" required class="form-control border-0 bg-light" id="cantidad" placeholder="Cantidad" min="1" asp-for="TbFormCotizanos.Cantidad">
                                <label for="cantidad">Cantidad</label>
                            </div>
                        </div>
                        <div class="col-md-12" id="divContacto">
                            <div class="form-floating">
                                <input type="text" class="form-control border-0 bg-light " placeholder="Nombres y Apellidos" asp-for="TbFormCotizanos.Contacto" maxlength="100">
                                <label for="Contacto">Nombres y Apellidos</label>
                            </div>
                        </div>
                        <div class="col-md-4" id="divRuc">
                            <div class="form-floating">
                                <input type="text" class="form-control border-0 bg-light " placeholder="Ruc" asp-for="TbFormCotizanos.Ruc" maxlength="11">
                                <label for="Ruc">RUC</label>
                            </div>
                        </div>
                        <div class="col-md-8" id="divRazonSocial">
                            <div class="form-floating">
                                <input type="text" class="form-control border-0 bg-light" placeholder="Razon Social" asp-for="TbFormCotizanos.RazonSocial" maxlength="255">
                                <label for="RazonSocial">Razon Social</label>
                            </div>
                        </div>
                        <div class="row g-3">
                            <div class="col-md-6">
                                <div class="form-floating">
                                    <input required pattern="[0-9]{9}" maxlength="9" title="Ingrese un número de celular válido" class="form-control border-0 bg-light" id="celular" name="celular" placeholder="Celular" asp-for="TbFormCotizanos.Celular">
                                    <label for="celular">Celular</label>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-floating">
                                    <input pattern="[0-9]{7}" maxlength="7" title="Ingrese un número de telefono válido" class="form-control border-0 bg-light" id="telefono" name="telefono" placeholder="Teléfono" asp-for="TbFormCotizanos.Telefono">
                                    <label for="telefono">Teléfono</label>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-floating">
                                    <input required type="email" class="form-control border-0 bg-light" id="correoElectronico" name="correoElectronico" placeholder="Correo electrónico" asp-for="TbFormCotizanos.CorreoElectronico" maxlength="100">
                                    <label for="correoElectronico">Correo electrónico</label>
                                </div>
                            </div>
                            <div class="col-12">
                                <button class="btn btn-primary py-3 px-6 w-50">
                                    <i class="fas fa-check-square"></i>
                                    Registrar mi cotización
                                </button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script>

    celular.addEventListener('keypress', function (event) {
        const key = event.key;
        if (!/^[0-9]$/.test(key)) {
            event.preventDefault(); 
        }
    });
    telefono.addEventListener('keypress', function (event) {
        const key = event.key;
        if (!/^[0-9]$/.test(key)) {
            event.preventDefault();
        }
    });


  function validarcantidad() {
    var campo = document.getElementById("cantidad");
    if (campo.value < 1) {
      campo.value = 1;
    }
  }
  document.getElementById("cantidad").addEventListener("blur", validarcantidad);

    $(document).ready(function () {
        mostrarFormTipoPersona("Personas");
        $("#distrito").change(function () {
            //var selectedDistrito = $(this).val();
            var selectedDistrito = $(this).find(":selected").data("id");
            $("#estacionamiento").empty();  // Limpiar el segundo select
            console.log("selectedDistrito",selectedDistrito);
            if (selectedDistrito) {
                // Llamar al servicio API para obtener los hoteles relacionados con el distrito seleccionado
                $.get("/Home/GetHotelPorDistrito?cod=" + selectedDistrito, function (data) {
                    $("#estacionamiento").append("<option value=''>Seleccione Estacionamiento</option>");
                    $.each(data, function (index, item) {
                        $("#estacionamiento").append("<option value='" + item.hotel + "'>" + item.hotel + "</option>");
                    });
                });
            }
        });

        $("#tipoAbonado").change(function () {
            var selectedOption = $(this).val();
            // Rellenar el segundo select según la selección en el primero
            mostrarFormTipoPersona(selectedOption);
        });

        function mostrarFormTipoPersona(tipopersona) {
            console.log('tipopersonaaaa', tipopersona);
            if (tipopersona === "Personas") {
                $("#divContacto").show();
                $("#divRuc").hide();
                $("#divRazonSocial").hide();
                $("#Contacto").attr("required", "required");
                $("#Ruc").removeAttr("required");
                $("#RazonSocial").removeAttr("required");
            } else if (tipopersona === "Empresas") {
                $("#divContacto").hide();
                $("#divRuc").show();
                $("#divRazonSocial").show();
                $("#Contacto").removeAttr("required");
                $("#Ruc").attr("required", "required");
                $("#RazonSocial").attr("required", "required");
            }
        }
    });
</script>
<!-- Cuerpo page End -->