@using ApiBD.Models;
@using System.Text.Json;
@using Microsoft.AspNetCore.Http;
@inject IHttpContextAccessor HttpContextAccessor;
@model ApiBD.Models.Home.IndexVM;


@{
    List<TbIndServiciocab> listaServicio = Model.Servicios;
    List<TbIndServiciodet> listaServiciodet = Model.ServiciosDet;
    bool isFirstItem = true;
    decimal delay = 0.1M;
    ViewData["Title"] = "Inicio";
}

    <!-- Carousel Start -->
    <div class="container-fluid p-0 wow fadeIn" data-wow-delay="0.1s">
        <div id="header-carousel" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
            @foreach (var item in Model.SlideCad)
            {
                <div class="carousel-item @((isFirstItem) ? "active" : "" )">
                    <img class="w-100" src="@Url.Content($"~{item.Imagen}")" alt="Image" />
                    <div class="carousel-caption">
                        <div class="container">
                            <div class="row justify-content-center">
                                <div class="col-lg-7">
                                    <h3 class="display-2 text-light mb-5 animated slideInDown">@item.Titulo</h3>
                                    <a href="@item.IdBtn1Navigation.BtnRuta" class="@item.IdBtn1Navigation.BtnClase py-sm-3 px-sm-5">
                                        @item.IdBtn1Navigation.BtnTitulo <i class="@item.IdBtn1Navigation.Icono"></i>
                                    </a>
                                    <!-- <a href="#" class="btn btn-light py-sm-3 px-sm-5 ms-3">Contacto</a> -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                isFirstItem = false;
            }
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#header-carousel" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Anterior</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#header-carousel" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Siguiente</span>
            </button>
        </div>
    </div>
    <!-- Carousel End -->

    <!-- Facts Start -->
    <div class="container-fluid facts py-5 pt-lg-0">
        <div class="container py-5 pt-lg-0">
            <div class="row gx-0">
            @foreach (var item in Model.Valores)
            {
                <div class="col-lg-4 wow fadeIn" data-wow-delay="@delay.ToString()s">
                    <div class="bg-white shadow d-flex align-items-center h-100 p-4" style="min-height: 150px;">
                        <div class="d-flex">
                            <div class="flex-shrink-0 btn-lg-square bg-primary">
                                <i class="@item.Icono text-white"></i>
                            </div>
                            <div class="ps-4">
                                <h5>@item.Titulo </h5>
                                <span>@item.Detalle</span>
                            </div>
                        </div>
                    </div>
                </div>

                delay += 0.2M;
            }
            </div>
        </div>
    </div>
    <!-- Facts End -->

<!-- Courses Start -->
<div class="container-xxl courses">
    <div class="container">
        @foreach (var service in listaServicio)
        {
            <div class="text-center mx-auto mb-5 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 500px;">
                <h6 class="text-primary text-uppercase mb-2">@service.TituloPeque</h6>
                <h1 class="display-6 mb-4">@service.TituloGrande</h1>
            </div>
            <div class="row g-4 justify-content-center">
                @foreach (var servicedet in listaServiciodet)
                {
                    <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                        <div class="courses-item d-flex flex-column bg-white overflow-hidden h-100">
                            <div class="text-center p-4 pt-0">
                                <div class="d-inline-block bg-primary text-white fs-5 py-1 px-4 mb-4">
                                    <i class="@servicedet.Icono"></i>
                                </div>
                                <h5 class="mb-3">@servicedet.Titulo</h5>
                                <p>@servicedet.Detalle</p>
                            </div>
                            <div class="position-relative mt-auto">
                                <img class="img-fluid" src="@servicedet.Imagen" alt="">
                                <div class="courses-overlay">
                                    <a class="btn btn-outline-primary border-2" href="@servicedet.Ruta">Conoce más</a>
                                </div>
                            </div>
                        </div>
                    </div>
                }
                
                @*<div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
                    <div class="courses-item d-flex flex-column bg-white overflow-hidden h-100">
                        <div class="text-center p-4 pt-0">
                            <div class="d-inline-block bg-primary text-white fs-5 py-1 px-4 mb-4">
                                <i class="fas fa-user-tag"></i>
                            </div>
                            <h5 class="mb-3">GESTIÓN DE ABONADOS </h5>
                            <p>Tempor erat elitr rebum at clita dolor diam ipsum sit diam amet diam et eos</p>
                        </div>
                        <div class="position-relative mt-auto">
                            <img class="img-fluid" src="~/images/cliente2.jpg" alt="">
                            <div class="courses-overlay">
                                <a class="btn btn-outline-primary border-2" href="~/Home/Abonados">Conoce más</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
                    <div class="courses-item d-flex flex-column bg-white overflow-hidden h-100">
                        <div class="text-center p-4 pt-0">
                            <div class="d-inline-block bg-primary text-white fs-5 py-1 px-4 mb-4">
                                <i class="fas fa-people-carry"></i>
                            </div>
                            <h5 class="mb-3">OTROS SERVICIOS</h5>
                            <p>Tempor erat elitr rebum at clita dolor diam ipsum sit diam amet diam et eos</p>
                        </div>
                        <div class="position-relative mt-auto">
                            <img class="img-fluid" src="~/images/cliente3.jpg" alt="">
                            <div class="courses-overlay">
                                <a class="btn btn-outline-primary border-2" href="~/Home/Otrosservicios">Conoce más</a>
                            </div>
                        </div>
                    </div>
                </div>*@
            </div>
        }
    </div>
</div>
<!-- Courses End -->