@model CentralParkingSystem.ViewModel.ModalCombinadoCabDet;

@if (Model.listModalDet15.Count!= 0)
{

    <div class="modal fade" id="informacion_legal" tabindex="-1" aria-labelledby="modalInfoLegal"
         aria-hidden="true">
        <div class="modal-dialog modal-xl modal-dialog-centered">
            <div class="modal-content rounded-1">
                <div class="modal-header ">
                    <h3 class="modal-title" id="modalInfoLegal">@Model.modalCab10.Titulo</h3>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <!--Accordion wrapper-->
                    <div class="row justify-content-center">
                        <div class="col-lg-12">
                            <div class="accordion" id="accordionInfoLegal">
                                <div class="accordion" id="accordionInfoLegal">
                                    @foreach (var item in Model.listModalDet15)
                                    {
                                        var uniqueId = $"collapse_{Guid.NewGuid()}";
                                        <div >
                                            <h2 class="accordion-header">
                                                <button class="accordion-button collapsed" type="button"
                                                        data-bs-toggle="collapse" data-bs-target="#@uniqueId"
                                                        aria-expanded="false" aria-controls="@uniqueId">
                                                    @item.Titulo
                                                </button>
                                            </h2>
                                            <div id="@uniqueId" class="accordion-collapse collapse"
                                                 aria-labelledby="headingOne3">
                                                <div class="accordion-body">
                                                    <p>
                                                        @item.Descripcion
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    }
                                </div>


                            </div>
                        </div>
                    </div>
                    <!-- Accordion wrapper -->
                </div>
            </div>
        </div>
    </div>
    <!-- Políticas de Cookies Modal End -->
}