@model CentralParkingSystem.ViewModel.ModalCombinadoCabDet;

@if(Model.listModalDet.Count != 0)
{


    <div class="modal fade" id="politicas_privacidad" tabindex="-1" aria-labelledby="modalPoliticasPriv"
         aria-hidden="true">
        <div class="modal-dialog modal-xl modal-dialog-centered">
            <div class="modal-content rounded-1">
                <div class="modal-header ">
                    <h3 class="modal-title" id="modalPoliticasPriv">@Model.modalCab.Titulo</h3>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <!--Accordion wrapper-->
                    <div class="row justify-content-center">
                        <div class="col-lg-12">
                            <div class="accordion" id="accordionPolPriv">
                                @foreach (var item in Model.listModalDet)
                                {
                                    var uniqueId = $"collapse_{Guid.NewGuid()}";
                                    <div class="accordion-item wow fadeInUp" data-wow-delay="0.1s">
                                        <h2 class="accordion-header">
                                            <button class="accordion-button collapsed" type="button"
                                                    data-bs-toggle="collapse" data-bs-target="#@uniqueId"
                                                    aria-expanded="false" aria-controls="@uniqueId">
                                                @item.Titulo
                                            </button>
                                        </h2>
                                        <div id="@uniqueId" class="accordion-collapse collapse"
                                             aria-labelledby="headingOne2">
                                            <div class="accordion-body">
                                                <p>
                                                    @item.Descripcion
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                }
                            </div>

                        </div>
                    </div>
                    <!-- Accordion wrapper -->
                </div>
            </div>
        </div>
    </div>
    <!-- Políticas de Cookies Modal End -->
}