@model ApiBD.Models.Home.IndexVM;
@{
    ViewData["Title"] = "Otros Servicios";
}
<!-- Page Header Start -->
<div class="container-fluid page-header py-6 my-6 mt-0 wow fadeIn" data-wow-delay="0.1s">
    <div class="container text-center">
        <h1 class="display-4 text-white animated slideInDown mb-4">Otros servicios </h1>
        <nav aria-label="breadcrumb animated slideInDown">
            <ol class="breadcrumb justify-content-center mb-0">
                <li class="breadcrumb-item"><a class="text-white" href="~/">Inicio</a></li>
                <li class="breadcrumb-item text-primary active" aria-current="page">Otros servicios </li>
            </ol>
        </nav>
    </div>
</div>
<!-- Page Header End -->
<!-- Otros servicios  Start -->
@{
    var colors = new List<string> { "bg-light", "py-6", "bg-light", "py-6", "bg-light", "py-6", "bg-light", "py-6" };
    var counter = 0;
}

@foreach (var valor in Model.ListServCabecera)
{
    @if (valor.Id != 0)
    {
        <div class="container-xxl @colors[counter % colors.Count] ">
            <div class="container">
                <div class="row g-5">
                    <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s">
                        <h3 class="display-6 mb-4">@valor.Titulo</h3>
                        <p class="mb-5">@valor.DescCorto</p>
                        <a class="btn btn-primary py-3 px-5" href="@valor.IdBtnSolicitarNavigation.BtnRuta">Solicítalo aquí</a>
                        <a class="btn btn-outline-primary py-3 px-5" href="@valor.IdBtnConoceNavigation.BtnRuta">Conoce más</a>
                    </div>
                    <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.5s">
                        <div class="position-relative overflow-hidden  h-100" style="min-height: 400px;">
                            <img class="position-absolute w-75 h-75" src="~/@valor.Imagen" alt="" style="object-fit: cover;">

                        </div>
                    </div>
                </div>
            </div>
        </div>

        counter++;
        
    }
   

}


<!-- Otros servicios  End -->