@model ApiBD.Models.Home.IndexVM;
@{
    ViewData["Title"] = "Proveedores";
}
<!-- Page Header Start -->
<div class="container-fluid page-header py-6 wow fadeIn" data-wow-delay="0.1s">
    <div class="container text-center">
        <h1 class="display-4 text-white animated slideInDown mb-4">
            Proveedores
        </h1>
        <nav aria-label="breadcrumb animated slideInDown">
            <ol class="breadcrumb justify-content-center mb-0">
                <li class="breadcrumb-item">
                    <a class="text-white" href="index.html">
                        Inicio
                    </a>
                </li>
                <li aria-current="page" class="breadcrumb-item text-primary active">
                    Proveedores
                </li>
            </ol>
        </nav>
    </div>
</div>
<!-- Page Header End -->
<!-- Cuerpo page Start -->
<div class="container-xxl border border-secondary py-6 bg-light">
    <div class="container">
        <div class="row mb-2">
            <div class="col">
                <div class="section_title text-center">
                    <h2>
                        REGISTRO UNICO DE PROVEEDORES SELECCIONADOS DE PRODUCTOS/SERVICIOS/ACTIVO FIJO/SUBCONTRATISTA
                    </h2>
                    <p>
                        Ingrese sus datos, para registrarlo en la base de datos.
                    </p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="accordion_container col-lg-12">
                <div class="row justify-content-center">
                    <form asp-action="Proveedores">
                        <div class="form-group row mb-2">
                            <label class="col-sm-2 col-form-label" for="state_id">
                                Fecha
                            </label>
                            <div class="col-sm-3">
                                <input asp-for="@Model.Proveedor.Fecha" class="form-control" required type="date" value="" />
                            </div>
                        </div>
                        <div class="form-group row mb-2">
                            <label class="col-sm-2 col-form-label" for="txtSolicitado">
                                Solicitado por
                            </label>
                            <div class="col-sm-10">
                                <input asp-for="@Model.Proveedor.SolicitadoPor" class="form-control" required placeholder="Ingrese sus nombres completos..." type="text" />
                            </div>
                        </div>
                        <fieldset class=" border p-2 mb-2">
                            <legend class="float-none w-auto p-2">
                                INFORMACIÓN FISCAL
                            </legend>
                            <div class="form-group row mb-2">
                                <label class="col-sm-2 col-form-label" for="txtRuc">
                                    RUC
                                </label>
                                <div class="col-sm-4">
                                    <input asp-for="@Model.Proveedor.FRuc" id="FRuc" class="form-control" required placeholder="RUC" pattern="[0-9]{11}" maxlength="11" type="text" />
                                   
                                </div>
                                <label class="col-sm-2 col-form-label" for="cbxTipoPersona">
                                    Tipo Persona
                                </label>
                                <div class="col-sm-4">
                                    <select class="form-control" asp-for="@Model.Proveedor.FTipoPersona" placeholder="Tipo Persona">
                                        <option value=1>
                                            NATURAL
                                        </option>
                                        <option value=2>
                                            JURIDICA
                                        </option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group row mb-2">
                                <label class="col-sm-2 col-form-label" for="txtDni">
                                    DNI
                                </label>
                                <div class="col-sm-5">
                                    <input asp-for="@Model.Proveedor.FDni" id="FDni" class="form-control" required placeholder="DNI" pattern="[0-9]{8}" maxlength="8" type="text" />
                            
                                </div>
                            </div>
                            <div class="form-group row mb-2">
                                <label class="col-sm-2 col-form-label" for="txtNombresRazonSocial">
                                    Nombres
                                </label>
                                <div class="col-sm-10">
                                    <input asp-for="@Model.Proveedor.FNombre" class="form-control" required placeholder="Nombres o Razon Social..." type="text" />
                                    
                                </div>
                            </div>
                            <div class="form-group row mb-2">
                                <label class="col-sm-2 col-form-label" for="txtDireccion">
                                    Direccion
                                </label>
                                <div class="col-sm-10">
                                    <input class="form-control" asp-for="@Model.Proveedor.FDireccion" required placeholder="Direccion..." type="text" />

                                </div>
                            </div>
                            <div class="form-group row mb-2">
                                <label class="col-sm-2 col-form-label" for="cbxDistrito">
                                    Distrito
                                </label>
                                <div class="col-sm-5">
                                    <select class="form-control" asp-for="@Model.Proveedor.FDistrito" required placeholder="Distrito">
                                        <option value="LIMA">
                                            LIMA
                                        </option>
                                        <option value="MAGDALENA">
                                            MAGDALENA
                                        </option>
                                        <option value="MIRAFLORES">
                                            MIRAFLORES
                                        </option>
                                        <option value="PUEBLO LIBRE">
                                            PUEBLO LIBRE
                                        </option>
                                        <option value="SAN ISIDRO">
                                            SAN ISIDRO
                                        </option>
                                        <option value="SURCO">
                                            SURCO
                                        </option>
                                    </select>
                                </div>
                                <label class="col-sm-1 col-form-label" for="txtCodPostal">
                                    Cod. Postal
                                </label>
                                <div class="col-sm-4">
                                    <input class="form-control" asp-for="@Model.Proveedor.FCodigoPostal" required placeholder="Cod. Postal" type="text" />
                                   
                                </div>
                            </div>
                            <div class="form-group row mb-2">
                                <label class="col-sm-2 col-form-label" for="txtTelefono">
                                    Telefono
                                </label>
                                <div class="col-sm-5">
                                    <input class="form-control" asp-for="@Model.Proveedor.FTelefono" required placeholder="Telefono" type="text" />
                                    
                                </div>
                                <label class="col-sm-1 col-form-label" for="txtFax">
                                    Fax
                                </label>
                                <div class="col-sm-4">
                                    <input class="form-control" asp-for="@Model.Proveedor.FFax" required placeholder="Fax" type="text" />
                                    
                                </div>
                            </div>
                            <div class="form-group row mb-2">
                                <label class="col-sm-2 col-form-label" for="cbxRubro">
                                    Rubro
                                </label>
                                <div class="col-sm-10">
                                    <select asp-for="@Model.Proveedor.FRubro" class="form-control" required placeholder="Departamento" asp-items="ViewBag.vMenu"></select>
                                </div>
                            </div>
                        </fieldset>
                        <fieldset class=" border p-2 mb-2">
                            <legend class="float-none w-auto p-2">
                                REPRESENTANTE LEGAL
                            </legend>
                            <div class="form-group row mb-2">
                                <label class="col-sm-2 col-form-label" for="txtNombresRL">
                                    Nombres
                                </label>
                                <div class="col-sm-10">
                                    <input class="form-control" asp-for="@Model.Proveedor.RlNombre" required placeholder="Nombres Completos..." type="text" />
                                    
                                </div>
                            </div>
                            <div class="form-group row mb-2">
                                <label class="col-sm-2 col-form-label" for="txtCargo">
                                    Cargo
                                </label>
                                <div class="col-sm-5">
                                    <input class="form-control" asp-for="@Model.Proveedor.RlCargo" required placeholder="Cargo" type="text" />
                                    
                                </div>
                                <label class="col-sm-1 col-form-label" for="txtTelefonorl">
                                    Telefono:
                                </label>
                                <div class="col-sm-4">
                                    <input class="form-control" asp-for="@Model.Proveedor.RlTelefono" required placeholder="Telefono" type="text" />
                                    
                                </div>
                            </div>
                            <div class="form-group row mb-2">
                                <label class="col-sm-2 col-form-label" for="Nac">
                                    Celular
                                </label>
                                <div class="col-sm-5">
                                    <input class="form-control" asp-for="@Model.Proveedor.RlCelular" required placeholder="Telf" type="text" />
                                
                                </div>
                                <label class="col-sm-1 col-form-label" for="txtEmail">
                                    Email
                                </label>
                                <div class="col-sm-4">
                                    <input class="form-control" asp-for="@Model.Proveedor.RlEmail" required placeholder="Email" type="email" />
                                    
                                </div>
                            </div>
                        </fieldset>
                        <fieldset class=" border p-2 mb-2">
                            <legend class="float-none w-auto p-2">
                                CONTACTO COMERCIAL
                            </legend>
                            <div class="form-group row mb-2">
                                <label class="col-sm-2 col-form-label" for="txtNombresRL">
                                    Nombres
                                </label>
                                <div class="col-sm-10">
                                    <input class="form-control" asp-for="@Model.Proveedor.CcNombre" required placeholder="Nombres Completos..." type="text" />
                                   
                                </div>
                            </div>
                            <div class="form-group row mb-2">
                                <label class="col-sm-2 col-form-label" for="txtCargo">
                                    Cargo
                                </label>
                                <div class="col-sm-5">
                                    <input class="form-control" asp-for="@Model.Proveedor.CcCargo" required placeholder="Cargo" type="text" />
                                    
                                </div>
                                <label class="col-sm-1 col-form-label" for="txtTelefonorl">
                                    Telefono:
                                </label>
                                <div class="col-sm-4">
                                    <input class="form-control" asp-for="@Model.Proveedor.CcTelefono" required placeholder="Telefono" type="text">
                                    
                                </div>
                            </div>
                            <div class="form-group row mb-2">
                                <label class="col-sm-2 col-form-label" for="Nac">
                                    Celular
                                </label>
                                <div class="col-sm-5">
                                    <input class="form-control" asp-for="@Model.Proveedor.CcCelular" required placeholder="Telf" type="text" />
                                 
                                </div>
                                <label class="col-sm-1 col-form-label" for="txtEmail">
                                    Email
                                </label>
                                <div class="col-sm-4">
                                    <input class="form-control" asp-for="@Model.Proveedor.CcEmail" required placeholder="Email" type="email" />
                                    
                                </div>
                            </div>
                        </fieldset>
                        <!--
                        <fieldset class=" border p-2 mb-2">
                            <legend class="float-none w-auto p-2">
                                Tipo de retencion y/o detraccion, en facturas
                            </legend>
                            <div class="form-group row mb-2">
                                <div class="col-sm-5">
                                    <div class="form-check">
                                        <label class="form-check-label">
                                            <input class="form-check-input" asp-for="AfectoRetencionDeIgv"  checked >
                                            Afecto a Retencion de IGV
                                           
                                        </label>
                                    </div>
                                    <div class="form-check">
                                        <label class="form-check-label">
                                            <input class="form-check-input" asp-for="AfectoDetraccionDeIgv" checked />
                                            Afecto a Detraccion de IGV
                                            
                                        </label>
                                    </div>
                                </div>
                                <label class="col-sm-3 col-form-label" for="txtPorcentaje">
                                    % de Detraccion
                                </label>
                                <div class="col-sm-4">
                                    <input class="form-control" asp-for="PorcentajeDetraccion" type="number"  />
                                   
                                </div>
                            </div>
                        </fieldset>
                        <fieldset class=" border p-2 mb-2">
                            <legend class="float-none w-auto p-2">
                                Retencion en Recibo por Honorarios
                            </legend>
                            <div class="form-group row mb-2">
                                <div class="col-sm-5">
                                    <div class="form-check">
                                        <label class="form-check-label">
                                            <input class="form-check-input" asp-for="AfectoRentade4taCategoría" checked />
                                            Afecto Renta de 4ta. Categoría
                                          
                                        </label>
                                    </div>
                                    <div class="form-check">
                                        <label class="form-check-label">
                                            <input class="form-check-input" asp-for="Exoneradorenta4ta" checked>
                                            Exonerado renta 4ta.
                                            
                                        </label>
                                    </div>
                                </div>
                                <label class="col-sm-3 col-form-label" for="txtPorcentaje">
                                    Comprobante Exoneracion N°
                                </label>
                                <div class="col-sm-4">
                                    <input class="form-control" asp-for="ComprobanteExoneracion" type="text"  />
                                    
                                </div>
                            </div>
                        </fieldset>
                        <fieldset class=" border p-2 mb-2">
                            <legend class="float-none w-auto p-2">
                                TIPO DE DOCUMENTO QUE NOS EMITIRA
                            </legend>
                            <div class="form-group row mb-2">
                                <div class="col-sm-10">
                                    <div class="form-check">
                                        <label class="form-check-label">
                                            <input class="form-check-input" asp-for="TipoDocumentoFactura" checked />
                                            Factura
                                            
                                        </label>
                                    </div>
                                    <div class="form-check">
                                        <label class="form-check-label">
                                            <input class="form-check-input" asp-for="TipoDocumentoReciboHonorarios" checked />
                                            Recibo por Honorarios
                                          
                                        </label>
                                    </div>
                                    <div class="form-check">
                                        <label class="form-check-label">
                                            <input class="form-check-input" asp-for="TipoDocumentoOtros" id="checkboxTipoDocumentoOtros" />


                                            Otros
                                            
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </fieldset>
                        <fieldset class=" border p-2 mb-2">
                            <legend class="float-none w-auto p-2">
                                DATOS ORGANIZACION DE COMPRAS
                            </legend>
                            <div class="form-group row mb-2">
                                <label class="col-sm-2 col-form-label" for="txtSoles">
                                    Soles
                                </label>
                                <div class="col-sm-2">
                                    <input class="form-check-input" asp-for="DatosCompraSoles" checked />
                                </div>
                                <label class="col-sm-2 col-form-label" for="txtDolares">
                                    Dolares
                                </label>
                                <div class="col-sm-2">
                                    <input class="form-check-input" asp-for="DatosCompraDolares" checked />
                                </div>
                                <label class="col-sm-2 col-form-label" for="txtAmbas">
                                    Ambas
                                </label>
                                <div class="col-sm-2 ">
                                    <input class="form-check-input" asp-for="DatosCompraAmbas" checked />
                                </div>
                            </div>
                        </fieldset>
                        <fieldset class=" border p-2 mb-2">
                            <legend class="float-none w-auto p-2">
                                INFORMACION PARA PAGO PROVEEDORES
                            </legend>
                            <div class="form-group row mb-2">
                                <div class="col-sm-5">
                                    <div class="form-check">
                                        <label class="form-check-label">
                                            <input class="form-check-input" asp-for="InformacionPagoProveedor30dias" checked />
                                            30 Dias
                                            
                                        </label>
                                    </div>
                                    <div class="form-check">
                                        <label class="form-check-label">
                                            <input class="form-check-input" asp-for="InformacionPagoProveedor60dias" checked />
                                            60 Dias
                                            
                                        </label>
                                    </div>
                                    <div class="form-group row mb-2">
                                        <label class="col-sm-2 col-form-label" for="txtEmail">
                                            Otros
                                        </label>
                                        <div class="col-sm-5">
                                            <input class="form-control" asp-for="InformacionPagoProveedorOtros" placeholder="Otros" type="text" />
                                            
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-5">
                                    <div class="form-check">
                                        <label class="form-check-label">
                                            <input class="form-check-input" asp-for="InformacionPagoProveedorEfectivo" checked />
                                            Efectivo
                                            
                                        </label>
                                    </div>
                                    <div class="form-check">
                                        <label class="form-check-label">
                                            <input class="form-check-input" asp-for="InformacionPagoProveedorTranferenciaBancaria" checked />
                                            Transferencia Bancaria
                                            
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </fieldset>
                        -->
                        <fieldset class=" border p-2 mb-2">
                            <legend class="float-none w-auto p-2">
                                CONTACTO COBRANZAS
                            </legend>
                            <div class="form-group row mb-2">
                                <label class="col-sm-2 col-form-label" for="txtNombresRL">
                                    Nombres
                                </label>
                                <div class="col-sm-10">
                                    <input class="form-control" asp-for="@Model.Proveedor.CcobranzaNombre" required placeholder="Nombres Completos..." type="text">
                                    
                                </div>
                            </div>
                            <div class="form-group row mb-2">
                                <label class="col-sm-2 col-form-label" for="txtCargo">
                                    Cargo
                                </label>
                                <div class="col-sm-5">
                                    <input class="form-control" asp-for="@Model.Proveedor.CcobranzaCargo" required placeholder="Cargo" type="text">
                                    
                                </div>
                                <label class="col-sm-1 col-form-label" for="txtTelefonorl">
                                    Telefono:
                                </label>
                                <div class="col-sm-4">
                                    <input class="form-control" asp-for="@Model.Proveedor.CcobranzaTelefono" required placeholder="Telefono" type="text" />
                                    
                                </div>
                            </div>
                            <div class="form-group row mb-2">
                                <label class="col-sm-2 col-form-label" for="Nac">
                                    Celular
                                </label>
                                <div class="col-sm-5">
                                    <input class="form-control" asp-for="@Model.Proveedor.CcobranzaCelular" required placeholder="Telf" type="text" />
                                    
                                </div>
                                <label class="col-sm-1 col-form-label" for="txtEmail">
                                    Email
                                </label>
                                <div class="col-sm-4">
                                    <input class="form-control" asp-for="@Model.Proveedor.CcobranzaEmail" required placeholder="Email" type="email" />
                                    
                                </div>
                            </div>
                        </fieldset>
                        <fieldset class=" border p-2 mb-2">
                            <legend class="float-none w-auto p-2">
                                Cuenta Bancaria
                            </legend>
                            <div class="form-group row mb-2">
                                <label class="col-sm-2 col-form-label" for="cbxBanco">
                                    Banco
                                </label>
                                <div class="col-sm-5">
                                    <select class="form-control" asp-for="@Model.Proveedor.CodCuentaBancaria" required placeholder="Banco">
                                        <option value="1">
                                            Interbank
                                        </option>
                                        <option value="1">
                                            Banco de Credito
                                        </option>
                                    </select>
                                </div>
                                <label class="col-sm-1 col-form-label" for="txtTitular">
                                    Titular
                                </label>
                                <div class="col-sm-4">
                                    <input class="form-control" asp-for="@Model.Proveedor.CuentaBancariaTitular" required type="text" />
                                    
                                </div>
                            </div>
                            <div class="form-group row mb-2">
                                <label class="col-sm-2 col-form-label" for="txtCuenta">
                                    Cuenta
                                </label>
                                <div class="col-sm-5">
                                    <input class="form-control" asp-for="@Model.Proveedor.CuentaBancaria" required type="text" />
                                    
                                </div>
                                <label class="col-sm-1 col-form-label" for="txtCCI">
                                    CCI
                                </label>
                                <div class="col-sm-4">
                                    <input class="form-control" asp-for="@Model.Proveedor.CuentaBancariaCci" required type="text" />
                                </div>
                            </div>
                        </fieldset>
                        <div class="form-group row mb-2">
                            <div class="col-sm-12 text-center">
                                <button class="btn btn-primary btn-lg" type="submit">
                                    ENVIAR
                                    <i class="fas fa-paper-plane">
                                    </i>
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Cuerpo page End -->

<script>
    FRuc.addEventListener('keypress', function (event) {
        const key = event.key;
        if (!/^[0-9]$/.test(key)) {
            event.preventDefault();
        }
    });
    FDni.addEventListener('keypress', function (event) {
        const key = event.key;
        if (!/^[0-9]$/.test(key)) {
            event.preventDefault();
        }
    });
</script>