@model IEnumerable<ApiBD.Models.TbConfBotone>

@{
    ViewData["Title"] = "Listado de Botones";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

<div class="content-wrapper">
    <div class="row">
        <div class="col-lg-12 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <div class="d-flex justify-content-between">
                        <h4 class="card-title">@ViewData["Title"]</h4>
                        <a class="btn btn-primary " href="/BotonCms/Create">
                            <i class="ti-plus"></i>  Nuevo
                        </a>
                    </div>

                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>
                                        @Html.DisplayNameFor(model => model.MenuId)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.PaginadetId)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.BtnTitulo)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.BtnRuta)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.BtnClase)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Icono)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Orden)
                                    </th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.MenuId)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.PaginadetId)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.BtnTitulo)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.BtnRuta)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.BtnClase)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Icono)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Orden)
                                        </td>
                                        <td>
                                            <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-warning"><i class="ti-pencil"></i> </a> |
                                            <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-info"><i class="ti-eye"></i> </a> |
                                            <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger"><i class="ti-trash"></i> </a>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                        <a asp-controller="SlideCms" asp-action="Index" class="btn btn-danger"><i class="ti-back-left"></i> Regresar</a>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>