@{
    ViewData["Title"] = "Inicio";
    Layout = "~/Views/Shared/_Layout2.cshtml";
    var fechaActual = DateTime.Now.ToString("dddd, dd MMMM yyyy");
}

<div class="content-wrapper">
    <div class="container">
        <div class="content">
            <div class="row">
                <div class="col-md-12 grid-margin">
                    <div class="row">
                        <div class="col-12 col-xl-8 mb-4 mb-xl-0">
                            <h3 class="font-weight-bold">Bienvenido  </h3>
                            <h6 class="font-weight-normal mb-0">al sistema Administrador de  <span class="text-primary">Central Parking System</span></h6>
                        </div>
                        <div class="col-12 col-xl-4">
                            <div class="justify-content-end d-flex">
                                <div class="dropdown flex-md-grow-1 flex-xl-grow-0">
                                    <button class="btn btn-sm btn-light bg-white " type="button" id="dropdownMenuDate2">
                                        <i class="mdi mdi-calendar"></i> Hoy (@fechaActual)
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Agregar más contenido aquí si es necesario -->
       
    </div>
    <!-- statistics data -->
    <div class="statistics">
        <div class="row">
            <div class="col-md-12 grid-margin stretch-card">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-6 col-md-3 col-lg-3 mt-4">
                                <div class="card card-inverse-primary">
                                    <div class="card-body">
                                        <div class="d-flex justify-content-between align-items-center">
                                            <div>
                                                <i class="ti-user" style="opacity: 0.2; font-size: 70px;"></i>
                                            </div>
                                            <div>
                                                <p class="mb-4">Total usuarios</p>
                                                <p class="fs-30 mb-2">@ViewBag.countUsuarios</p>
                                            </div>
                                            
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6 col-md-3 col-lg-3 mt-4">
                                <div class="card card-inverse-info">
                                    <div class="card-body">
                                        <div class="d-flex justify-content-between align-items-center">
                                            <div>
                                                <i class="ti-headphone-alt" style="opacity: 0.2; font-size: 70px;"></i>
                                            </div>
                                            <div>
                                                <p class="mb-4">Contactanos</p>
                                                <p class="fs-30 mb-2">@ViewBag.countContactos</p>
                                            </div>
                                            
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6 col-md-3 col-lg-3 mt-4">
                                <div class="card card-inverse-success">
                                    <div class="card-body">
                                        <div class="d-flex justify-content-between align-items-center">
                                            <div>
                                                <i class="ti-write" style="opacity: 0.2; font-size: 70px;"></i>
                                            </div>
                                            <div>
                                                <p class="mb-4">Cotizanos</p>
                                                <p class="fs-30 mb-2">@ViewBag.countCotizanos</p>
                                            </div>
                                            
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6 col-md-3 col-lg-3 mt-4">
                                <div class="card card-inverse-primary ">
                                    <div class="card-body">
                                        <div class="d-flex justify-content-between align-items-center">
                                            <div>
                                                <i class="ti-truck" style="opacity: 0.2; font-size: 70px;"></i>
                                            </div>
                                            <div>
                                                <p class="mb-4">Proveedores</p>
                                                <p class="fs-30 mb-2">@ViewBag.countProvedores</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-6 col-md-3 col-lg-3 mt-4">
                                <div class="card card-inverse-success">
                                    <div class="card-body">
                                        <div class="d-flex justify-content-between align-items-center">
                                            <div>
                                                <i class="ti-book" style="opacity: 0.2; font-size: 70px;"></i>
                                            </div>
                                            <div>
                                                <p class="mb-4">Hoja de reclamaciones</p>
                                                <p class="fs-30 mb-2">@ViewBag.countHojaRecla</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6 col-md-3 col-lg-3 mt-4 d-none">
                                <div class="card card-inverse-secondary ">
                                    <div class="card-body">
                                        <div class="d-flex justify-content-between align-items-center">
                                            <div>
                                                <i class="ti-bookmark" style="opacity: 0.2; font-size: 70px;"></i>
                                            </div>
                                            <div>
                                                <p class="mb-4">Parking card vip </p>
                                                <p class="fs-30 mb-2">@ViewBag.countParking</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6 col-md-3 col-lg-3 mt-4">
                                <div class="card card-inverse-warning">
                                    <div class="card-body">
                                        <div class="d-flex justify-content-between align-items-center">
                                            <div>
                                                <i class="ti-target" style="opacity: 0.2; font-size: 70px;"></i>
                                            </div>
                                            <div>
                                                <p class="mb-4">Puestos disponibles</p>
                                                <p class="fs-30 mb-2">@ViewBag.countVacantes</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6 col-md-3 col-lg-3 mt-4">
                                <div class="card card-inverse-danger">
                                    <div class="card-body">
                                        <div class="d-flex justify-content-between align-items-center">
                                            <div>
                                                <i class="ti-star" style="opacity: 0.2; font-size: 70px;"></i>
                                            </div>
                                            <div>
                                                <p class="mb-4">Servicios</p>
                                                <p class="fs-30 mb-2">@ViewBag.countServicios</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
<!-- content-wrapper ends -->
