@model ApiBD.Models.TbIndServiciocab

@{
    ViewData["Title"] = "Detalles";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

<div class="content-wrapper">
    <div class="row">
        <div class="col-lg-12 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <div class="d-flex justify-content-between">
                        <h4 class="card-title">@ViewData["Title"]</h4>
                    </div>

                    <dl class="row">
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.TituloGrande)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.TituloGrande)
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.TituloPeque)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.TituloPeque)
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.Descripcion)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.Descripcion)
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.ImagenGrande)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.ImagenGrande)
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.ImagenPeque)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.ImagenPeque)
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.Ruta)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.Ruta)
                        </dd>
                    </dl>

                    <div>
                        <a class="btn btn-primary" asp-action="Edit" asp-route-id="@Model?.Id"><i class="ti-save"></i> Editar</a> |
                        <a class="btn btn-danger" asp-action="Index"><i class="ti-back-left"></i> Regresar</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
