@model IEnumerable<ApiBD.Models.TbIndServiciocab>

@{
    ViewData["Title"] = "Listado Servicios";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

<div class="content-wrapper">
    <div class="row">
        <div class="col-lg-12 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <div class="d-flex justify-content-between">
                        <h4 class="card-title">@ViewData["Title"]</h4>
                        <a class="btn btn-primary " href="/IServiciosCms/Create">
                            <i class="ti-plus"></i>  Nuevo
                        </a>
                    </div>
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>
                                        Titulo Grande
                                    </th>
                                    <th>
                                        Titulo Corto
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Descripcion)
                                    </th>
                                    <th>
                                        Imagen Grande
                                    </th>
                                    <th>
                                        Imagen Pequeña
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Ruta)
                                    </th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.TituloGrande)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.TituloPeque)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Descripcion)
                                        </td>
                                        <td>
                                            @if (!string.IsNullOrEmpty(item.ImagenGrande))
                                            {
                                                <div style="width: 100px; height: 100px; overflow: hidden;">
                                                    <img src="@Url.Content(item.ImagenGrande)" alt="Thumbnail" style="width: 100%; height: auto;">
                                                </div>
                                            }

                                        </td>
                                        <td>
                                            @if (!string.IsNullOrEmpty(item.ImagenPeque))
                                            {
                                                <div style="width: 100px; height: 100px; overflow: hidden;">
                                                    <img src="@Url.Content(item.ImagenPeque)" alt="Thumbnail" style="width: 100%; height: auto;">
                                                </div>
                                            }
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Ruta)
                                        </td>
                                        @if(item.Id != 0){
                                            <td>
                                                <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-warning"><i class="ti-pencil"></i> </a> |
                                                <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger"><i class="ti-trash"></i> </a>
                                                <a href="@Url.Action("Index", "IserviciosdetCms", new { codigo = item.Id })" class="btn btn-primary"><i class="ti-more"></i></a>
                                            </td>
                                        }
                                       
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>




