@model IEnumerable<ApiBD.Models.TbIndServiciodet>

@{
    ViewData["Title"] = "Detalle Servicios Inicio";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#">Inicio</a></li>
        <li class="breadcrumb-item"><a href="/IServicios">Servicios</a></li>
        <li class="breadcrumb-item active" aria-current="page">Detalle</li>
    </ol>
</nav>

<div class="content-wrapper">
    <div class="row">
        <div class="col-lg-12 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <div class="d-flex justify-content-between">
                        <h4 class="card-title">Listado de pie pagina</h4>
                        @*<a asp-action="Create/@ViewBag.vPiepaginaId" class="btn btn-primary "><i class="ti-plus"></i> Nuevo</a>*@
                        <a class="btn btn-primary " href="@Url.Action("Create", "IServiciosdetCms", new { codigo = ViewBag.vServicioId })">
                            <i class="ti-plus"></i>  Nuevo
                        </a>
                    </div>


                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Icono)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Titulo)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Detalle)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Ruta)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.IdCabNavigation)
                                    </th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Icono)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Titulo)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Detalle)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Ruta)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.IdCabNavigation.Id)
                                        </td>
                                        <td>
                                            @*<a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                                            <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                                            <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>*@
                                            <a asp-action="Edit" asp-route-id="@item.Id" asp-route-codigo="@ViewBag.vServicioId" class="btn btn-warning"><i class="ti-pencil"></i> </a> |
                                            <a asp-action="Details" asp-route-id="@item.Id" asp-route-codigo="@ViewBag.vServicioId" class="btn btn-info"><i class="ti-eye"></i> </a> |
                                            <a asp-action="Delete" asp-route-id="@item.Id" asp-route-codigo="@ViewBag.vServicioId" class="btn btn-danger"><i class="ti-trash"></i> </a>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                        <a asp-controller="IServicios" asp-action="Index" class="btn btn-danger"><i class="ti-back-left"></i> Regresar</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

